<%= link_to("<<Back to List", {:action => 'list'},:class => 'back-link') %>
<div class="Admin show">
	<h2>
		Show Admin
	</h2>
	<table summary="Admin detailed view">
		<tr>
			<th>Username</th>
			<td><%= @admin.username %></td>
		</tr>
		<tr>
			<th>Firstname</th>
			<td><%= @admin.first_name %></td>
		</tr>
		<tr>
			<th>Lastname</th>
			<td><%= @admin.last_name %></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><%= @admin.email %></td>
		</tr>

		<tr>
			<th>Hashed Password</th>
			<td><%= @admin.hashed_password %></td>
		</tr>

		<tr>
			<th>Salt</th>
			<td><%= @admin.salt %></td>
		</tr>

		<tr>
			<th>Created</th>
			<td><%= @admin.created_at %></td>
		</tr>
		<tr>
			<th>Updated</th>
			<td><%= @admin.updated_at %></td>
		</tr>
	</table>
</div>